[core]
	excludesFile = ~/.gitignore
[credential]
	helper = cache
	username = GameDevFox
[include]
	path = ./.neko/.gitconfig
[push]
	default = current
[user]
	name = Edward Nicholes Jr.
	useConfigOnly = true
