# -*- mode: shell-script -*-
export TERMINAL=gnome-terminal

# if i3 is running, run cairo-compmgr
if [[ "$DESKTOP_SESSION" == "i3" ]] && command -v cairo-compmgr; then
  cairo-compmgr &
fi

if command -v xbindkeys; then
  xbindkeys &
fi

if command -v nitrogen; then
  nitrogen --restore
fi
